<div class="col-md-4">
  <div class="card mb-2">
    <img src="{{ image.url_hd }}" class="card-img-top" alt="{{ image.user }}">
    <div class="card-body">
      <h4 class="card-title">{{ image.title|join(' - ') }}</h4>
      {% if image.description is not empty %}
        <div class="card-text">
          {{ image.description }}
          <br>
          {{ image.user }}
        </div>
      {% endif %}
    </div>
  </div>
</div>