{# @var Astrobin\Response\ListImages listImageClass #}
{% set img = null %}
{% set transKey = messier.id ~ '.label' %}

{% if messier.images is defined and true == messier.images|is_instance_of('\\Astrobin\\Response\\ListImages') and 0 < messier.images.count %}
  {% set img = messier.images.listImages.0.url_regular %}

{% elseif messier.images is defined and true == messier.images|is_instance_of('\\Astrobin\\Response\\Image') %}
  {% set img = messier.images.url_regular %}
{% endif %}

<div class="col-md-4 mb-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ img }}" alt="{{ messier.name }}">

    <div class="card-body">
      <h5 class="card-title">{{ messier.name }} - {{ messier.desig }}</h5>
      <p class="card-text">
        {% if messier.alt is not empty %}
          {% set label = transKey|trans|default(messier.alt) %}
          {% set listData = [label, messier.type|trans, messier.constId|lower|trans] %}
        {% else %}
          {% set listData = [messier.type|trans, messier.constId|lower|trans] %}
        {% endif %}
        {{ listData|join(', ') }}
      </p>
    </div>

    <div class="card-footer">
      <a href="{{ messier.full_url }}" class="btn btn-primary">{{ 'more'|trans }}</a>
    </div>
  </div>
</div>