{% block layout %}
  {% spaceless %}
    {% set pageLang = 'fr' %}
    {% set pageTitle = pageTitle|default('') %}
    {% set pageDesc = pageDesc|default('') %}
    {% set pageUrl = app.request.uri %}
    {% set pageUrlCanonical = app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo %}
    {% set favicon = favicon|default('') %}
  {% endspaceless %}
  <!DOCTYPE html>
  <html lang="{{ pageLang }}">
      <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=Edge">
          <meta name="viewport" content="width=device-width,initial-scale=1">

          {% block meta %}
            <title>{{ pageTitle }}</title>
            {#Meta#}
            <meta name="title" content="{{ pageTitle }}">
            {% if pageDesc %}
              <meta name="description" content="{{ pageDesc ~ '...' }}">
            {% endif %}
            <link rel="canonical" href="{{ pageUrlCanonical }}">
            <link rel="icon" type="image/jpg" href="{{ favicon }}"/>

            {# OpenGraph ? #}

          {% endblock %}

          {% block stylesheets %}{% endblock %}
      </head>
      <body>
          {% block body %}
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
          {% endblock %}
          {% block javascripts %}{% endblock %}
      </body>
  </html>
{% endblock %}