{% block layout %}
  {% spaceless %}
    {% set pageLang = app.request.locale|default(app.request.defaultLocale) %}
    {% set pageTitle = 'dso'|trans ~ ' - ' ~ pageTitle|default('') %}
    {% set pageDesc = pageDesc|default('') %}
    {% set pageUrl = app.request.uri %}
    {% set pageUrlCanonical = app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo %}
    {% set favicon = favicon|default('') %}
  {% endspaceless %}
  <!DOCTYPE html>
  <html lang="{{ pageLang }}">
      <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=Edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          {% block meta %}
            <title>{{ pageTitle }}</title>
            {#Meta#}
            <meta name="title" content="{{ pageTitle }}">
            {% if pageDesc %}
              <meta name="description" content="{{ pageDesc ~ '...' }}">
            {% endif %}
            <link rel="canonical" href="{{ pageUrlCanonical }}">
            <link rel="icon" type="image/x-icon" href="{{ favicon }}"/>
          {% endblock %}

          {% block stylesheets %}
            {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">#}

            {% stylesheets
                'css/bootstraptest.css'
                'css/landing-page.css'
                'css/font-awesome.css'
                'css/simple-line-icons.css'
              filter='cssrewrite'
            %}
              <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
          {% endblock %}
      </head>
      <body>
          {% block body %}
            {#Header#}
            {% block header %}
              {% include ':includes/layout:header.html.twig' %}
            {% endblock %}

            {#Content#}
            {% block content %}{% endblock %}

            {#Footer#}
            {% block footer %}
            {% endblock %}
          {% endblock %}

          {#Javascript#}
          {% block javascripts %}
            {% javascripts
              'bundles/fosjsrouting/js/router.min.js'
              'js/*'
            %}
              <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
          {% endblock %}
      </body>
  </html>
{% endblock %}

{#'js/fos_js_routes.js'#}
              {#'js/jquery.min.js'#}
              {#'js/bootstrap.js'#}
              {#'js/typehead.min.js'#}