{% block layout %}
  {% spaceless %}
    {% set pageLang = app.request.locale|default(app.request.defaultLocale) %}
    {% set pageTitle = pageTitle|default('') %}
    {% set pageDesc = pageDesc|default('') %}
    {% set pageUrl = app.request.uri %}
    {% set pageUrlCanonical = app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo %}
    {% set favicon = favicon|default('') %}
  {% endspaceless %}
  <!DOCTYPE html>
  <html lang="{{ pageLang }}">
      <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=Edge">
          <meta name="viewport" content="width=device-width,initial-scale=1">

          {% block meta %}
            <title>{{ pageTitle }}</title>
            {#Meta#}
            <meta name="title" content="{{ pageTitle }}">
            {% if pageDesc %}
              <meta name="description" content="{{ pageDesc ~ '...' }}">
            {% endif %}
            <link rel="canonical" href="{{ pageUrlCanonical }}">
            <link rel="icon" type="image/x-icon" href="{{ favicon }}"/>

            {# OpenGraph ? #}

          {% endblock %}

          {% block stylesheets %}{% endblock %}
      </head>
      <body>
          {% block body %}
            {#Header#}
            {% block header %}
              {#{% include "includes/layout:switchLang.html.twig" %}#}
              <a href="{{ path('setlocale', {'language': 'fr'}) }}">FR</a>
              <a href="{{ path('setlocale', {'language': 'en'}) }}">EN</a>
            {% endblock %}

            {#Content#}
            {% block content %}{% endblock %}

            {#Footer#}
            {% block footer %}{% endblock %}
          {% endblock %}

          {#Javascript#}
          {% block javascripts %}{% endblock %}
      </body>
  </html>
{% endblock %}