{{ form_start(form) }}

  <div class="form-group row">
    {{ form_row(form.firstname) }}
  </div>

  <div class="form-group row">
    {{ form_row(form.lastname) }}
  </div>

  <div class="form-group row">
    {{ form_row(form.email) }}
  </div>

  <div class="form-group row">
    {{ form_row(form.message) }}
  </div>

  <button type="submit">{{ 'form.contact.submit'|trans }}</button>
{{ form_end(form) }}