{{ form_start(form) }}

  <div class="form-group row">
    <div class="col">
      {{ form_row(form.firstname) }}
    </div>
    <div class="col">
      {{ form_row(form.lastname) }}
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      {{ form_row(form.email.first) }}
    </div>
    <div class="col">
      {{ form_row(form.email.second) }}
    </div>
  </div>


  <div class="form-group row">
    <div class="col">
      {{ form_row(form.country) }}
    </div>
    <div class="col">
      {{ form_row(form.reasons) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_row(form.message) }}
  </div>

  <div class="form-group">
    <p>{{ 'contact.mandatory'|trans }}</p>
    {{ form_row(form.recaptcha) }}
  </div>

  <button type="submit" class="btn btn-primary">{{ 'contact.form.submit'|trans }}</button>
{{ form_end(form) }}