{{ form_start(form) }}
  <div class="form-group row">
    {{ form_label(form.desig, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.desig) }}
    </div>
  </div>

  <div class="form-group row">
    {{ form_label(form.catalog, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.catalog) }}
    </div>
  </div>

  <div class="form-group row">
    {{ form_label(form.type, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.type) }}
    </div>
  </div>

  <div class="form-group row">
    {{ form_label(form.constId, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.constId) }}
    </div>
  </div>


  <div class="form-group row">
    {{ form_label(form.mag, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.mag) }}
    </div>
  </div>

  <div class="form-group row">
    {{ form_label(form.distAl, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.distAl) }}
    </div>
  </div>

  <div class="form-group row">
    {{ form_label(form.ra, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.ra) }}
    </div>
  </div>
  <div class="form-group row">
    {{ form_label(form.dec, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.dec) }}
    </div>
  </div>
  <div class="form-group row">
    {{ form_label(form.order, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.order) }}
    </div>
  </div>

  <div class="form-group row">
    {{ form_label(form.dim, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.dim) }}
    </div>
  </div>
  <div class="form-group row">
    {{ form_label(form.astrobinId, null, { 'label_attr': { 'class' : 'col-form-label' }}) }}
    <div class="col-10">
      {{ form_widget(form.astrobinId) }}
    </div>
  </div>

  {{ form_widget(form.honeypot) }}
  <button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }}