<h3 class="h3">{{ name|transchoice(2)|capitalize }}</h3>
<ul class="list-group">
  {% if sort is defined and true == sort %}
    {% set data = uasort(data, 'key') %}
  {% endif %}

  {% for facet in data %}
    {% if true == translation %}
      {% set transKey = facet.key %}
      {% set labelFacet = name ~ '.' ~ transKey|lower %}
    {% else %}
      {% set labelFacet = facet.key %}
    {% endif %}

    {% set countFacet = facet.doc_count %}
    <li class="list-group-item d-flex justify-content-between align-items-center">

      {% set params = paramsRoute.params|merge({ (name): (facet.key|lower)}) %}
      {% if selectedFilters[(name)] is defined and selectedFilters[(name)] == facet.key|lower %}
        {% set paramsRemove = remove_element(paramsRoute.params, facet.key|lower) %}
        <button type="button" class="close" aria-label="Close">
          <a href="{{ path(paramsRoute.route, paramsRemove) }}"><span aria-hidden="true">&times;</span></a>
        </button>
      {% endif %}


      <a href="{{ path(paramsRoute.route, params) }}" data-field="{{ name }}" data-value="{{ facet.key|lower }}" type="facet" class="left" title="{{ labelFacet|trans }}">
        {{ labelFacet|trans }}
      </a>

      <span class="badge badge-primary badge-pill">{{ countFacet }}</span>
    </li>
  {% endfor %}
</ul>
<hr>