<h3 class="h3">{{ name|transchoice(2)|capitalize }}</h3>
<ul>
  {% if sort is defined and true == sort %}
    {% set data = uasort(data, 'key') %}
  {% endif %}

  {% for facet in data %}
    {% if true == translation %}
      {% set transKey = facet.key %}
      {% set labelFacet = name ~ '.' ~ transKey|lower %}
    {% else %}
      {% set labelFacet = facet.key %}
    {% endif %}

    {% set countFacet = facet.doc_count %}
    <li>
      {% set dataField = 'data.' ~  name %}
      {% set params = paramsRoute.params|merge({'data.' ~  name: facet.key}) %}
      <a href="{{ path(paramsRoute.route, params) }}" data-field="{{ dataField }}" data-value="{{ facet.key }}" type="facet">
        {{ labelFacet|trans }} ({{ countFacet }})
      </a>
    </li>
  {% endfor %}
</ul>
<hr>