{% extends 'base.html.twig' %}

{% set pageTitle = dso.id|capitalize ~ ' : ' ~ dso.desig %}

{% block content %}

  {% set dsoAlt = dso.alt %}
  {% set img = null %}

  {#Cover image#}
  {% if dso.imageCover is defined and dso.imageCover is not empty %}
    {% set imgCover = dso.imageCover.url_hd %}
  {% endif %}

  {#Gallery#}
  {% if dso.images is defined %}
    {% if dso.images.count is defined and 0 < dso.images.count %}
      {% set img = dso.images.listImages.0.url_hd %}
    {% endif %}
  {% endif %}

  {#Title#}
  {% set title %}
    {% if dsoAlt is not empty %}
      {{ dsoAlt }}
    {% else %}
      {% if 'messier' == dso.catalog %}
        {{ dso.id|capitalize }}
      {% else %}
        {{ dso.desig }}
      {% endif %}
    {% endif %}
  {% endset %}

  {#Subtitle#}
  {% set subTitle %}
    {% if dsoAlt is not empty %}
      {% if 'messier' == dso.catalog %}
        {{ dso.id|capitalize }} - {{ dso.desig }}
      {% else %}
        {{ dso.desig }}
      {% endif %}
    {% endif %}
  {% endset %}


  <div class="container">
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="{{ imgCover|default(asset('img/default.jpg')) }}" alt="{{ dso.id }}">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">

        <h1>{{ title }}</h1>
        {% set transKey = dso.id ~ '.label' %}

        <h2>{{ subTitle }}</h2>

        <ul class="list-group">
          <li class="list-group-item active">{{ 'info'|trans }}</li>
          {% set type = 'type.' ~ dso.type %}
          {% set const = 'const_id.' ~ dso.constId|lower %}
          <li class="list-group-item">{{ type|trans }}</li>
          <li class="list-group-item">{{ 'magnitude'|trans }} : {{ dso.mag }}</li>
          <li class="list-group-item">{{ 'const'|transchoice(1) }} : {{ const|trans }}</li>
          <li class="list-group-item">{{ 'dim'|trans }} <sub>(1)</sub> : {{ dso.dim }}</li>
          {% set distLY = dso.distAl %}
          <li class="list-group-item">{{ 'distAl'|trans }} : {{ distLY|number_format_by_locale }}</li>
          <li class="list-group-item">{{ 'distPc'|trans }} : {{ distLY|convert_al_pc }}</li>
          <li class="list-group-item">{{ 'ra'|trans }} : {{ dso.ra}}</li>
          <li class="list-group-item">{{ 'dec'|trans }} : {{ dso.dec }}</li>
        </ul>

        <p>
          1: {{ 'dimExp'|trans }}
        </p>

        <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>

    {% if dsos_const is defined and 0 < dsos_const|length %}
      <h3>{{ 'constImgGall'|trans }} :</h3>
      <div class="row">
        {% for dso in dsos_const %}
          {% include ':includes/dso:block.html.twig' with {dso: dso} %}
        {% endfor %}
      </div>
    {% endif %}



    {% if dso.images is defined and 1 < dso.images|length %}
      {% include 'includes/layout/astrobin_message.html.twig' %}
      <h3>{{ 'imagesGall'|trans }} :</h3>

      {#<div id="multi-gallery-astrobin" class="carousel slide carousel-multi-item" data-ride="carousel">#}
        {#<div class="carousel-inner" role="listbox">#}
          {#<div class="carousel-item">#}
            {% for img in dso.images.listImages|slice(1, dso.images.count) %}
              {% include 'includes/astrobin/image.html.twig' with {image: img} %}

              {#{% if loop.index is divisible by(3) %}#}
                {#</div>#}
                {#<div class="carousel-item">#}
              {#{% endif %}#}
            {% endfor %}
          {#</div>#}
        {#</div>#}

        {#<div class="controls-top">#}
          {#<a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>#}
          {#<a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>#}
        {#</div>#}
      </div>
    {% endif %}


  </div>
{% endblock %}
