{% extends 'base.html.twig' %}

{% block content %}

  <div class="container">
    <header class="jumbotron my-4">
      {% set labelTitle = 'list.' ~ catalog %}
      <h1 class="display-3">{{ labelTitle|trans }}</h1>
      <div class="lead">
        {% set descLabel = 'description.' ~ catalog %}
        {{ descLabel|trans }}
      </div>
    </header>

    <div class="row">
      <div class="col-3">
        <h2 class="display-4">{{ 'filters'|trans|capitalize }}</h2>
        <hr>
        {% set paramsRoute = { 'route': pagination.route, 'params': pagination.paramsRoute}  %}

        {#Type#}
        {% if 0 < aggregates.allfacets.type.buckets|length %}
          {% include 'includes/facets/facet-group.html.twig' with {'name': 'type', 'data': aggregates.allfacets.type.buckets, 'translation': true, 'sort': true, 'paramsRoute': paramsRoute} %}
        {% endif %}


        {#Constellations#}
        {% if 0 <  aggregates.allfacets.const_id.buckets|length %}
          {% include 'includes/facets/facet-group.html.twig' with {'name': 'const_id', 'data': aggregates.allfacets.const_id.buckets, 'translation': true, 'sort': true, 'paramsRoute': paramsRoute} %}
        {% endif %}

        {#Magnitude#}
        {% if 0 < aggregates.allfacets.mag.buckets|length %}
          {% include 'includes/facets/facet-range.html.twig' with {'name': 'mag', 'data': aggregates.allfacets.mag.buckets, 'paramsRoute': paramsRoute} %}
        {% endif %}
      </div>

      <div class="col-9">
        <div class="row border-bottom">
          <div class="col-6 left">
            {% if listOrder is defined and 0 < listOrder|length %}
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="sortItems" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'select.order.label'|trans }}
              </button>
              <div class="dropdown-menu" aria-labelledby="sortItems">
                {% for label,value in listOrder %}
                  {% set params = pagination.paramsRoute|merge({'sort': value}) %}
                  <a class="dropdown-item" href="{{ path(pagination.route, params) }}">{{ label|trans }}</a>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>

          {% if 1 < pagination.last_page %}
            <div class="col-6 right">
              {% include ':includes/layout:pagination.html.twig' with {pagination: pagination} %}
            </div>
          {% endif %}
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <div class="row text-center">
              {% if list is defined and 0 < list|length %}
                {% for item in list %}
                  {% include ':includes/dso:block.html.twig' with {dso: item} %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="row">
          {% if 1 < pagination.last_page %}
            <div class="col-12 right">
              {#{{ path(pagination.route, pagination.paramsRoute) }}#}
              {% include ':includes/layout:pagination.html.twig' with {pagination: pagination} %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}