{% extends 'base.html.twig' %}

{% set pageTitle = messier.name|capitalize ~ ' : ' ~ messier.desig %}

{% block content %}

  {% set img = null %}
  {% if messier.images is defined %}
    {% if messier.images.count is defined and 0 < messier.images.count %}
      {% set img = messier.images.listImages.0.url_hd %}
    {% endif %}
  {% endif %}

  <div class="container">

    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="{{ img }}" alt="{{ messier.name }}">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
        <h1>{{ messier.name }}</h1>
        {% set transKey = messier.id ~ '.label' %}
        {% set subtitle = [messier.desig, transKey|trans|default(messier.alt)]|join(' - ') %}
        <h2>{{ subtitle }}</h2>

        <ul class="list-group">
          <li class="list-group-item active">{{ 'info'|trans }}</li>
          <li class="list-group-item">{{ messier.type|trans }}</li>
          <li class="list-group-item">{{ 'magnitude'|trans }} : {{ messier.mag }}</li>
          <li class="list-group-item">{{ 'const'|trans }} : {{ messier.constId|lower|trans }}</li>
          <li class="list-group-item">{{ 'dim'|trans }} <sub>(1)</sub> : {{ messier.dim }}</li>
          {% set distLY = messier.distAl %}
          <li class="list-group-item">{{ 'distAl'|trans }} : {{ distLY|number_format_by_locale }}</li>
          <li class="list-group-item">{{ 'distPc'|trans }} : {{ distLY|convert_al_pc }}</li>
          <li class="list-group-item">{{ 'ra'|trans }} : {{ messier.ra}}</li>
          <li class="list-group-item">{{ 'dec'|trans }} : {{ messier.dec }}</li>
        </ul>

        <p>
          1: {{ 'dimExp'|trans }}
        </p>


        <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>

    {% if messiers_const is defined and 0 < messiers_const|length %}
      <h3>{{ 'constImgGall'|trans }} :</h3>
      <div class="row">
        {% for messier in messiers_const %}
          {% include ':includes/messier:block.html.twig' with {messier: messier} %}
        {% endfor %}
      </div>
    {% endif %}

    {% if messiers_type is defined and 0 < messiers_type|length %}
      <h3>{{ 'typeImgGall'|trans({'%type%': messier.type|trans}) }} :</h3>
      <div class="row">
        {% for messier in messiers_type %}
          {% include ':includes/messier:block.html.twig' with {messier: messier} %}
        {% endfor %}
      </div>
    {% endif %}

    {% if messier.images is defined and 0 < messier.images|length %}
      {% include 'includes/layout/astrobin_message.html.twig' %}
      <h3>{{ 'imagesGall'|trans }} :</h3>
      <div class="row">
        {% for img in messier.images.listImages|slice(1, messier.images.count) %}
          {% include 'includes/astrobin/image.html.twig' with {image: img} %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% endblock %}
