{% extends 'base.html.twig' %}

{% set pageTitle = dso.id|capitalize ~ ' : ' ~ dso.desig %}

{% block content %}

  {% set dsoAlt = dso.alt %}
  {% set img = null %}
  {% if dso.images is defined %}
    {% if dso.images.count is defined and 0 < dso.images.count %}
      {% set img = dso.images.listImages.0.url_hd %}
    {% endif %}
  {% endif %}

  <div class="container">

    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="{{ img }}" alt="{{ dso.id }}">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
        <h1>{{ dso.id|capitalize }}</h1>
        {% set transKey = dso.id ~ '.label' %}

        {% set subtitle = [dso.desig, dsoAlt]|join(' - ') %}
        <h2>{{ subtitle }}</h2>

        <ul class="list-group">
          <li class="list-group-item active">{{ 'info'|trans }}</li>
          <li class="list-group-item">{{ dso.type|trans }}</li>
          <li class="list-group-item">{{ 'magnitude'|trans }} : {{ dso.mag }}</li>
          <li class="list-group-item">{{ 'const'|transchoice(1) }} : {{ dso.constId|lower|trans }}</li>
          <li class="list-group-item">{{ 'dim'|trans }} <sub>(1)</sub> : {{ dso.dim }}</li>
          {% set distLY = dso.distAl %}
          <li class="list-group-item">{{ 'distAl'|trans }} : {{ distLY|number_format_by_locale }}</li>
          <li class="list-group-item">{{ 'distPc'|trans }} : {{ distLY|convert_al_pc }}</li>
          <li class="list-group-item">{{ 'ra'|trans }} : {{ dso.ra}}</li>
          <li class="list-group-item">{{ 'dec'|trans }} : {{ dso.dec }}</li>
        </ul>

        <p>
          1: {{ 'dimExp'|trans }}
        </p>


        <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>

    {% if dsos_const is defined and 0 < dsos_const|length %}
      <h3>{{ 'constImgGall'|trans }} :</h3>
      <div class="row">
        {% for dso in dsos_const %}
          {% include ':includes/dso:block.html.twig' with {dso: dso} %}
        {% endfor %}
      </div>
    {% endif %}

    {% if dsos_type is defined and 0 < dsos_type|length %}
      <h3>{{ 'typeImgGall'|trans({'%type%': dso.type|trans}) }} :</h3>
      <div class="row">
        {% for dso in dsos_type %}
          {% include ':includes/dso:block.html.twig' with {dso: dso} %}
        {% endfor %}
      </div>
    {% endif %}

    {% if dso.images is defined and 0 < dso.images|length %}
      {% include 'includes/layout/astrobin_message.html.twig' %}
      <h3>{{ 'imagesGall'|trans }} :</h3>
      <div class="row">
        {% for img in dso.images.listImages|slice(1, dso.images.count) %}
          {% include 'includes/astrobin/image.html.twig' with {image: img} %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% endblock %}
