{# @var Astrobin\Response\ListImages listImageClass #}
{% set img = null %}
{% set transKey = dso.id ~ '.label' %}
{% set dsoType = 'type.' ~ dso.type %}

{% if dso.images is defined and true == dso.images|is_instance_of('\\Astrobin\\Response\\ListImages') and 0 < dso.images.count %}
  {% set img = dso.images.listImages.0.url_regular %}
{% elseif dso.images is defined and true == dso.images|is_instance_of('\\Astrobin\\Response\\Image') %}
  {% set img = dso.images.url_regular %}
{% endif %}

{% set dsoAlt = dso.alt %}
<div class="col-md-4 mb-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ img }}" alt="{{ dso.id }}">

    <div class="card-body">
      <h5 class="card-title">
        {{ dso.id|capitalize }} {% if dsoAlt is defined and dsoAlt is not empty %}- {{ dsoAlt }}{% endif %}
      </h5>

      <p class="card-text">
        {% set listData = [dso.desig, dsoType|trans, dso.constId|lower|trans] %}
        {{ listData|join(', ') }}
      </p>
    </div>

    <div class="card-footer">
      <a href="{{ dso.full_url }}" class="btn btn-primary">{{ 'more'|trans }}</a>
    </div>
  </div>
</div>