{# @var Astrobin\Response\ListImages listImageClass #}
{% set img = null %}
{% set dsoAlt = dso.alt %}
{% set dsoType = 'type.' ~ dso.type %}
{% if dso.constId is not empty %}
  {% set dsoConst = 'const.' ~ dso.constId|lower %}
{% endif %}
{#Title#}
{% set title %}
  {% if dsoAlt is not empty %}
    {{ dsoAlt }}
    {% if 'messier' == dso.catalog %}
      - {{ dso.id|capitalize }}
    {% endif %}
  {% else %}
    {% if 'messier' == dso.catalog %}
      {{ dso.id|capitalize }}
    {% else %}
      {{ dso.desig }}
    {% endif %}
  {% endif %}
{% endset %}

{#Image#}
{% if dso.imageCover is defined and dso.imageCover is not empty %}
  {% set imgCover = dso.imageCover.url_hd %}
{% endif %}


<div class="col-md-4 mb-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ imgCover|default(asset('img/default.jpg')) }}" alt="{{ dso.id }}">

    <div class="card-body">
      <h5 class="card-title">
        {{ title }}
      </h5>

      <p class="card-text">
        {% set listData = [dsoType|trans, dsoConst|default('')|trans] %}
        {% if 'messier' == dso.catalog %}
          {% set listData = listData|merge([dso.desig]) %}
        {% endif %}
        {{ listData|join(', ') }}
      </p>
    </div>

    <div class="card-footer">
      <a href="{{ dso.full_url }}" class="btn btn-primary">{{ 'more'|trans }}</a>
    </div>
  </div>
</div>